body {
    width: 1290px;
    height: 400px;
    background-color: rgb(22, 21, 21);
    color: white;
}

.Resto {
    position: relative;
    float: left;
    bottom: 10px;
    border-radius: 300px;
    width: 150px;
    height: 150px;
}

h1 {
    position: relative;
    font-size: xx-large;
    bottom: 10px;
    color: rgb(151, 42, 179);
    background-color: rgb(23, 20, 32);
    width: 1041px;
    height: 58px;
    padding: 50px;
    margin-left: 153px;
}

.Fila {
    position: relative;
    font-size: x-large;
    color: rgb(187, 53, 116);
    bottom: 30px;
    background-color: rgb(33, 29, 46);
    width: 98%;
    height: auto;
    padding: 15px;
}

.Audios {
    position: relative;
    background-image: url(Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 1295px;
    height: 850px;
    float: left;
}

.Auto {
    position: relative;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Saludos {
    position: relative;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Clases {
    position: relative;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.BañosPublicos {
    position: relative;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Ascensor {
    position: relative;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Bondi {
    position: relative;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.renzo {
    position: relative;
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 300px;
    bottom: 200px;
    right: 10px;
}

.tochi {
    position: relative;
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 300px;
    bottom: 200px;
    right: 30px;
}

.nocita {
    position: relative;
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 300px;
    left: 70px;
    bottom: 80px;
}

.pato {
    position: relative;
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 300px;
    left: 288px;
    bottom: 80px;
}

.patoig {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    float: right;
    left: 326px;
    top: 30px;
}

.texto1 {
    position: relative;
    width: 30px;
    height: 30px;
    float: right;
    left: 328px;
    top: 20px;
}

.renzoig {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    float: right;
    left: 569px;
    bottom: 105px;
}

.texto2 {
    position: relative;
    float: right;
    bottom: 115px;
    left: 461px;
}

.tochiig {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    float: right;
    bottom: 105px;
    left: 345px;
}

.texto3 {
    position: relative;
    float: right;
    left: 455px;
    bottom: 115px;
}

.nocitaig {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    float: right;
    left: 515px;
    top: 28px;
}

.texto4 {
    position: relative;
    width: 30px;
    height: 30px;
    float: right;
    left: 520px;
    top: 20px;
}
